<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-container {
            margin-top: 20px;
            position: relative;
            max-width: 100%;
        }
        .button-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            cursor: crosshair;
        }
        /* 新增样式 */
        .selection-box {
            position: absolute;
            border: 2px solid red;
            background-color: rgba(255, 0, 0, 0.3);
            pointer-events: none;
        }
        .btm {
            position: fixed;
            bottom: 10px;
            width: 70%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">增加</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="docNameInput" class="form-label">证件名称：</label>
                    <input type="text" class="form-control doc-name-input" id="docNameInput">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="button-column">
                    <input type="file" class="form-control mb-3" id="uploadInput" accept="image/*">
                    <div class="button-row">
                        <button type="button" class="btn btn-secondary" onclick="startCapture()">添加</button>
                        <a type="button" class="btn btn-danger" onclick="addDocument()">结束</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">框名</th>
                            <th scope="col">x1</th>
                            <th scope="col">y1</th>
                            <th scope="col">x2</th>
                            <th scope="col">y2</th>
                        </tr>
                        </thead>
                        <tbody id="table-body" class="table-group-divider"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div id="imageDisplay" class="image-container"></div>
                <div id="tagContainer" style="display: none;">
                    <div class="row btm">
                        <div class="col-md-8">
                            <input type="text" id="tagInput" class="form-control tag-input" placeholder="输入标签"/>
                        </div>
                        <div class="col-md-4">
                            <!-- <button type="button" class="btn btn-primary" onclick="captureRectangle()">截取</button>-->
                            <button type="button" class="btn btn-danger" onclick="finishCapture()">完成</button>
                        </div>
                    </div>
                </div>
                <div style="height: 50px;"></div>
            </div>
        </div>
        <script>
            var canvas, ctx;
            var startX, startY, endX, endY;
            var selecting = false;
            var selectionBox;
            var imgheight, imgwidth
            var scaleX, scaleY
            var coordinateList = [];

            document.getElementById('uploadInput').onchange = function() {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = new Image();
                    img.src = e.target.result;
                    img.onload = function() {
                        imgwidth = img.width
                        imgheight = img.height
                        prepareCanvas(img);
                    }

                    img.classList.add('img-fluid');
                };
                reader.readAsDataURL(file);
            };

            function prepareCanvas(img) {
                var imageDisplay = document.getElementById('imageDisplay');
                imageDisplay.innerHTML = '';
                imageDisplay.appendChild(img);
                imageDisplay.style.border = "1px solid #777";
                scaleX = img.width / imgwidth
                scaleY = img.height / imgheight

                canvas = document.createElement('canvas');
                canvas.width = img.naturalWidth;
                canvas.height = img.naturalHeight;
                canvas.style.width = '100%';
                imageDisplay.appendChild(canvas);

                ctx = canvas.getContext('2d');
                canvas.onmousedown = startSelection;
                canvas.onmousemove = updateSelection;
                canvas.onmouseup = stopSelection;

                selectionBox = document.createElement('div');
                selectionBox.className = 'selection-box';
                imageDisplay.appendChild(selectionBox);
            }

            function startSelection(e) {
                selecting = true;
                startX = e.offsetX;
                startY = e.offsetY;
            }

            function updateSelection(e) {
                if (!selecting) return;

                endX = e.offsetX;
                endY = e.offsetY;

                var minX = Math.min(startX, endX);
                var minY = Math.min(startY, endY);
                var width = Math.abs(startX - endX);
                var height = Math.abs(startY - endY);

                selectionBox.style.left = minX + 'px';
                selectionBox.style.top = minY + 'px';
                selectionBox.style.width = width + 'px';
                selectionBox.style.height = height + 'px';
            }

            function stopSelection() {
                selecting = false;
            }

            function startCapture() {
                document.getElementById('tagContainer').style.display = 'block';
            }

            function captureRectangle() {
                // 这里可以添加额外逻辑，比如保存坐标
            }

            function finishCapture() {
                var tagInput = document.getElementById('tagInput').value;
                if (tagInput === '') {
                  alert('输入框不能为空！');
                } else {
                    var coordinates = {
                      x1: Math.floor(Math.min(startX, endX) / scaleX),
                      y1: Math.floor(Math.min(startY, endY) /scaleY),
                      x2: Math.ceil(Math.max(startX, endX) / scaleX),
                      y2: Math.ceil(Math.max(startY, endY) / scaleY)
                    };
                    var coordinateText = `${tagInput} ${coordinates.x1} ${coordinates.y1} ${coordinates.x2} ${coordinates.y2}`;
                    //var zuobiao = `${coordinates.x1} ${coordinates.y1} ${coordinates.x2} ${coordinates.y2}`;
                    coordinateList.push(`${coordinateText}\n`);
                    document.getElementById('tagInput').value = '';

                    var tableRow = document.createElement("tr")
                    var tableItem = document.createElement("th")
                    tableItem.innerText = tagInput
                    tableRow.appendChild(tableItem)
                    for (var item in coordinates) {
                        tableItem = document.createElement("td")
                        tableItem.innerText = String(coordinates[item])
                        tableRow.appendChild(tableItem)
                    }

                    var tb = document.getElementById("table-body");
                    tb.appendChild(tableRow)
                }

            }

            function addDocument() {
                var documentName = document.getElementById('docNameInput').value;
                var txtContent = "";
                for (let item of coordinateList) {
                    txtContent += item;
                }

                if (documentName && imgwidth) {
                    // Retrieve existing button information from local storage
                    var existingButtons = JSON.parse(localStorage.getItem('addedButtons')) || [];

                    // Generate unique ID for the new button
                    var newButtonId = 'button_' + Date.now();

                    // Add the new button information
                    existingButtons.push({ id: newButtonId, name: documentName });

                    // Save updated button information to local storage
                    localStorage.setItem('addedButtons', JSON.stringify(existingButtons));

                    var formData = new FormData();
                    formData.append('documentName', documentName);
                    formData.append('tagInput', txtContent);
                    formData.append('imageWidth', imgwidth); // 图像宽度
                    formData.append('imageHeight', imgheight); // 图像高度

                    fetch('/download', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.blob();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    //这个是把txt下载到浏览器默认地址的
                    // .then(blob => {
                    //     // 创建URL对象并下载文件
                    //     var url = URL.createObjectURL(blob);
                    //     var a = document.createElement('a');
                    //     a.href = url;
                    //     a.download = documentName + '.txt';
                    //     document.body.appendChild(a);
                    //     a.click();
                    //     document.body.removeChild(a);
                    // })
                    .catch(error => console.error('There was a problem with the fetch operation:', error));


                    // Navigate back to main page
                    window.location.href = '/';
                } else {
                    alert(imgwidth ? '请填写证件名称.': '未添加图片！');
                }

            }
        </script>
    </div>
</body>
</html>
